body {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: 0;
}

.row {
  min-height: 80px;
}

.row:hover {
  cursor: pointer;
}

.list {
  border-right: 1px solid #585858;
  padding: 1rem;
  overflow: scroll;
  scrollbar-width: none;
}

.details {
  padding: 1rem;
  display: fixed;
  top: 0;
  bottom: 0;
}

.title {
  font-size: 1.4em;
}
